# vim: set ft=bash :

export GOPATH=~/dev
export PATH=$PATH:$GOPATH/bin

export PATH=~/tinygo/tinygo/build:~/tinygo/tinygo/bin:$PATH
export PATH=$PATH:/usr/local/go/bin

{{ if (eq .chezmoi.os "linux") }}
alias clip='xsel --clipboard --input'
alias rapture='wine ~/.wine/drive_c/Program\ Files/Rapture/rapture.exe'
{{ end }}

alias gcd='cd ~/dev/src/`ghq list | peco`'
alias cd..='cd ..'

#export PS1='\[\e]0;\u@\h: \w\a\]${debian_chroot:+($debian_chroot)}\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
#export PS1='\[\033[01;32m\]\u@\h\[\033[00m\]:\[\033[01;34m\]\w\[\033[00m\]\$ '
export PS1='\[\033]0;$TITLEPREFIX:$PWD\007\]\n\[\033[32m\]\u@\h \[\033[35m\]$MSYSTEM \[\033[33m\]\w\[\033[36m\]`__git_ps1`\[\033[0m\]\n$ '
#export PS1='$ '

#eval "$(tinygo-edit --completion-script-bash)"
if type "tinygo" > /dev/null 2>&1; then
    eval "$(tinygo-autocmpl --completion-script-bash)"
fi

#export PERL_CPANM_OPT="--local-lib=~/perl5"
#export PATH=$HOME/perl5/bin:$PATH;
#export PERL5LIB=$HOME/perl5/lib/perl5:$PERL5LIB;

export PATH=$HOME/.local/bin:$PATH;
export PATH=$PATH:$HOME/esp/xtensa-esp32-elf/bin
export PATH=$PATH:$HOME/Logic
export PATH=$HOME/openocd-linux/bin:$PATH
export PATH=$PATH:$HOME/android-studio/bin

alias tig='tig --all'
alias rm='rm -i'
alias mv='mv -i'
alias x125='xrandr --output eDP-1 --scale 1.25x1.25'

[[ $PS1 && -f /usr/share/bash-completion/bash_completion ]] && \
    . /usr/share/bash-completion/bash_completion
