# vim: set ft=gitconfig :
{{- if (eq .chezmoi.os "linux") }}
{{- if (eq .chezmoi.username "sago35") }}
[user]
	name = sago35
	email = sago35@gmail.com
{{- end }}
{{- end }}
[include]
	path = ~/.local/share/dotfiles/git/config
[core]
	quotepath = false
	pager = LESSCHARSET=utf-8 less
	excludesFile = ~/.gitignore_global
	autocrlf = false
	longpaths = true
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[url "ssh://git@git.alphatc.co.jp:29418/"]
	insteadOf = https://git.alphatc.co.jp/git/
[credential "http://atcserver"]
	provider = generic
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defaultBranch = main
[user]
	name = sago35
	email = sago35@gmail.com
